@import "~bootstrap/dist/css/bootstrap.min.css";

body {
    background-color: #455D89;
}

.card {
    width: 100%;
}

.container {
    width: 800px;
}

#title-card {
    background-color: #FDFCD3;
    color: #455D89;
}